# Node.js dependencies
node_modules/
npm-debug.log*

# Logs
logs/
*.log
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.iml

venv
client_secret.json
token.json
data.db

# Ignore Tokens folder and its contents
Tokens/
recreate_token/

# Ignore all CSV files
*.csv