# .gitignore

# Node.js dependencies
node_modules/
npm-debug.log*

# Logs
logs/
*.log
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
__init__.py

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.iml

# Ignore folder and files inside the following folders
Tokens/
__pycache__/
venv/
alembic/versions/

# Ignore all file with the following extensions
*.csv
*.json
*.db

alembic.ini
alembic/script.py.mako
start_helper.sh